<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  </head>
  
  <body>


    <%for(var i = 0; i < title.length; i ++) {%>
      <h4 class="bar-user"><%=title[i].name%></h4>
      <% } %>

	  	<div id='search'>
	  		<form id="form" >
          <input id="input-bar" class='search-bar' type='text' placeholder='Search Bar'>

    <div class="jumbotron">
      <div class="container">
        <header>
          Data Share | <a href="#">Profile</a>
          <img id='logo' src="http://cdn.liquidplanner.com/wp-content/uploads/5701090.jpg">
        </header>   
              <div id='search'>
        <form id="form"method="post" action="/users/test">
          <input id="input-bar2" class='search-bar' type='text' placeholder='Search for Nearby Bars'>

          <input id="submit-bar" class='search-bar' type='submit'>
        </form>
      </div>   
      </div>
    </div>

  	<div class='container'>
      <button id="list-bars">List all bars</button>
      <% if (name) {%>
        <h2 id="name1">The bar is <%=name%>, the wait is <%=avgWaitTime%> minutes</h1>
      <% }%>
      <h2 id="name2"></h2>
	  	<div id ='data-results'> 
	  	</div>

	  	<div id='map'>Map goes here</div>
      <form id="parent-field" method="post" action="/users/createe">Supp add stuff here
        <input type="text" id="add-bar" name="name" value="add new bar here">
        
        <input type="text" id="add-user" name="waitTime" value="add new wait time here">
        <input type="submit"id="submit-create">
      </form> 

	  	<div id='map'>
	  		Map goes here
	  	</div>
  	</div>

    <div class="btn btn-danger" href="#server_msg_modal" data-toggle="modal">Add New Wait Time</div>

      <div class="modal fade" id="server_msg_modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                      <%for(var i = 0; i < title.length; i ++) {%>
                   <input type="radio" ><%=title[i].name%></input>
                      <% } %>
              <form method="post" action="/users/createe">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div>
              <h4 class="modal-title">What Bar Are You At?</h4>
              <input type="input" name="input" value="What bar are you at?">
            </div>
            <div>
              <h4 class="modal-title">How long did it take?</h4>
            </div>
            <div class="modal-body">
              <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                  <button id ="beer" value="beer" type="button" class="alcohol btn btn-default">Beer</button>
                </div>
                <div class="btn-group" role="group">
                  <button id="wine" value="wine" type="button" class="alcohol btn btn-default">Wine</button>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" value="liquor" class="alcohol btn btn-default">Well Liquor</button>
                </div>
                <input type="text" id="add-drink" name="drinkType" value="add new drink type here  ">
                <div class="btn-group" role="group">
                  <button type="button" value="cocktail" class="alcohol btn btn-default">Fancy Cocktail</button>
                </div>
              </div> 
              <div>
                <input type="number" name="input" value="How Many Minutes did you Wait?">
              </div>
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
            </div>
              <div>
                <button type="submit" class="btn btn-default">Submit WaitTime</button>
              </form>
              </div>           
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <script>
      $(function() {
        $("#add-drink").hide();
        $("#list-bars").click(function(){
          var stringy = "";
          <%for(var i = 0; i < title.length; i ++) {%>
            stringy += "<%=title[i].name%> "
            $("#name2").html(stringy);
          <% } %>
        });

        $(".bar-user").click(function(){
          console.log("heyyyyyyyyyyyyyyy");
       });

        $(".alcohol").click(function(){
          $(".alcohol").css("color","blue");
          $(this).css("color","red");
          var SetInputValue = $(this).val();
          $("#add-drink").val(SetInputValue);
        });

        $("#submit-bar").click(function(){
          var params = $("#input-bar").val();  
          $("#form").attr("action","/users/test/" + params)
        });
      });
      </script>
  </body> 
</html>